{% extends 'base.html' %}

{% block title %} O zanieczyszczenaich powietrza {% endblock %}

    {% block content %}

        <div style="width: 80%; text-align: justify">

            <img src="{{ STATIC_URL }}images/malopolska390.jpeg"
            <br><br><br>

            <h5>Dwutlenek siarki SO2</h5>
            <p>Poziom dopuszczalny (norma) dla wartości średniej z doby (24 godziny),
                dla dwutlenku siarki (SO2) wynosi 125 µg/m3.
                Poziom dopuszczalny (norma) dla wartości średniej z jednej godziny,
                dla dwutlenku siarki (SO2) wynosi 350 µg/m3.</p>

            <br>

            <h5>Dwutlenek azotu</h5>
            <p>Poziom dopuszczalny (norma) dla wartości średniej z jednej
               godziny, dla dwutlenku azotu (NO2) wynosi 200 µg/m3.
               Poziom dopuszczalny (norma) dla wartości średniej z roku kalendarzowego dla
               dwutlenku azotu (NO2) wynosi 40 µg/m3.
               Dla dwutlenku azotu (NO2) nie jest określony poziom dopuszczalny (norma) dla wartości
              średniej z doby (24 godziny) i wartości średniej z miesišca.
            </p>

            <br>
            <h5>Tlenek węgla</h5>
            <p>Poziom dopuszczalny (norma) dla wartości średniej z ośmiu kolejnych godzin
               (ośmiogodzinna średnia kroczšca o kroku równym jedna godzina),
               dla tlenku węgla (CO) wynosi 10000 µg/m3.
               Dla tlenku węgla (CO) nie jest określony poziom dopuszczalny (norma) dla wartości średniej
              z jednej godziny, wartości średniej z doby (24 godziny) wartości średniej z miesiąca i wartości
              średniej z roku kalendarzowego. </p>

            <br>
            <h5>Ozon</h5>
            <p>Poziom dopuszczalny (norma) dla wartości średniej z ośmiu kolejnych godzin (ośmiogodzinna średnia kroczšca o kroku równym jedna godzina), dla ozonu (O3) wynosi 120 µg/m3.
                Dla ozonu (O3) nie jest określony poziom dopuszczalny (norma) dla wartości średniej z jednej godziny, wartości średniej z doby (24 godziny), wartości średniej z miesiąca i wartości średniej z roku kalendarzowego </p>

            <br>
            <h5>Pył zawieszony PM10</h5>
            <p>Poziom dopuszczalny (norma) dla wartości średniej z doby (24 godziny), dla pyłu zawieszonego PM10 wynosi 50 µg/m3.
            Poziom dopuszczalny (norma) dla wartości średniej z roku kalendarzowego dla pyłu zawieszonego PM10 wynosi 40 µg/m3.
            Dla pyłu zawieszonego PM10 nie jest określony poziom dopuszczalny (norma) dla wartości średniej z jednej godziny i wartości średniej z miesiąca
            </p>

            <br>
            <h5>Pył zawieszony PM2.5</h5>
            <p>Poziom dopuszczalny (norma) dla wartości średniej z roku kalendarzowego dla pyłu zawieszonego PM2,5 wynosi 25 µg/m3.
                Dla pyłu zawieszonego PM2,5 nie jest określony poziom dopuszczalny (norma) dla wartości średniej z jednej godziny, wartości średniej z doby (24 godziny) i wartości średniej z miesiąca.
            </p>
        <br><br><br><br><br>
        </div>

    {% endblock %}