{% extends 'base.html' %}

    {% block title %} Monitor zanieczyszczenia powietrza {% endblock %}

    {% block content %}

        <h1> Monitor zanieczyszczenia powietrza </h1>

        <div class="ui-widget">
            <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em; ">
                <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
                Wybierz stację pomiarową z listy oraz zakres dat, a nastepnie kliknij przycisk "Raport" aby wygenerować wykres.</p>
            </div>
        </div>

        <form action="show_plot.html" method="post">{% csrf_token %}

            <p><label for="id_stationid">Stacja pomiarowa:</label>
                <select id="id_stationid" name="stationid">
                    {% for station in stations %}
                        <option value="{{ station.id }}">{{ station.name }}</option>
                    {% endfor %}
                </select>
            </p>

            <p><label for="id_start_date">Data początkowa:</label>
                <input id="id_start_date" name="start_date" readonly="True" style="background-color: White; cursor: pointer"/>

            </p>

            <p><label for="id_end_date">Data końcowa:</label>
                <input id="id_end_date" name="end_date" readonly="True" style="background-color: White; cursor: pointer"/>

            </p>

            {% if form.end_date.errors %}
                <div class="ui-widget">
                    <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
                        <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                        Nieprawidłowy zakres dat - proszę wybrać datę początkową i końcową.</p>
                    </div>
                </div>
                <br/>
            {% endif %}

            {% if is_form_invalid %}
                <div class="ui-widget">
                    <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
                        <p><span class="ui-icon ui-icon-error" style="float: left; margin-right: .3em;"></span>
                        Proszę wybrać zakres dat!</p>
                    </div>
                </div>
            {% endif %}

            <input id="button" type="submit" value="Raport"/>

        </form>


        <br/><br/>
        <div id="progressbarcontainer">
            <span>Trwa generowanie wykresu. To może chwilę potrwać...</span>
            <div id="progressbar"></div>
        </div>

        <script type="text/javascript">

         $(function() {

            $( "#button" ).button();

             $("#progressbarcontainer").hide();

            $( "#progressbar" ).progressbar({
                value: false
            });
         });

         //$( "#button" ).click(function() {
         //    $( "#progressbarcontainer" ).toggle("fast");
         //    $('#button').attr("disabled", true);
         //});

        $(document).ready(function() {
            $("#id_start_date").datetimepicker(
                {
                    beforeShow: function(input, inst) {
                        inst.dpDiv.css({ marginTop: -input.offsetHeight + 0 + 'px' });
                        inst.dpDiv.css({ marginLeft: input.offsetWidth + 10 + 'px' });
                    },
                    showMinutes: 'False',
                    minDate: -365,
                    firstDay: 1,
                    maxDate: 0,
                    closeText: 'OK',
                    timeText: 'Czas',
                    hourText: 'Godzina',
                    timeFormat: 'HH:mm',
                    dateFormat: 'yy-mm-dd',
                    monthNames: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
                    dayNames: [ 'Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota'],
                    dayNamesMin: ['N', 'Pn', 'Wt', 'Śr', 'Cz', 'Pt', 'So']
                });

            $("#id_end_date").datetimepicker(
                {
                    beforeShow: function(input, inst) {
                        inst.dpDiv.css({ marginTop: -input.offsetHeight + 340 + 'px' });
                        inst.dpDiv.css({ marginLeft: input.offsetWidth + 10 + 'px' });
                    },
                    showMinutes: 'False',
                    minDate: -365,
                    firstDay: 1,
                    maxDate: 0,
                    closeText: 'OK',
                    timeText: 'Czas',
                    hourText: 'Godzina',
                    timeFormat: 'HH:mm',
                    dateFormat: 'yy-mm-dd',
                    monthNames: ['Styczeń', 'Luty', 'Marzec', 'Kwiecień', 'Maj', 'Czerwiec', 'Lipiec', 'Sierpień', 'Wrzesień', 'Październik', 'Listopad', 'Grudzień'],
                    dayNames: [ 'Niedziela', 'Poniedziałek', 'Wtorek', 'Środa', 'Czwartek', 'Piątek', 'Sobota'],
                    dayNamesMin: ['N', 'Pn', 'Wt', 'Śr', 'Cz', 'Pt', 'So']
                });
        });
    </script>

    {% endblock %}
