{% extends 'base.html' %}

{% block title %} Monitor zanieczyszczenia powietrza {% endblock %}

    {% block content %}

        <script type="text/javascript">

             $(function() {

                $( "#back" ).button();

             });
        </script>
<br><br>
        <img src="{{ STATIC_URL }}{{ plot_file_path }}" style="margin-top: -50px"/>

         <a href="javascript: history.back()" id="back">Powrót do strony głównej</a>

    {% endblock %}